*{
    font-family: Raleway;
}
body{
    margin: 0px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}
header img{
    width: 61.09px;
    height: 19px;
    margin: auto 0px;
    padding: 30px 50px;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 68px;
    padding: 0px 50px;
}
.nav-bar-item{
    color: black;
    text-decoration: none;
    font-weight: 400;
    height: 35px;
    font-size: 1em;
}
.nav-bar-item:hover{
    color: #0065fc;
    text-decoration: underline;
    text-underline-offset: -2.3em;
    text-decoration-thickness: 2px;
}
main{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 0px 50px;
}
h1{
    margin: 0px;
    font-size: 1.38em;
    font-weight: 700;
}
h2{
    margin: 0px;
    font-size: 1.1em;
    font-weight: 700;
}
h3{
    margin: 0px;
    font-size: 1em;
    font-weight: 700;
}
p{
    font-size: 1em;
    margin: 0px;
}
.searching-section{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.section-title{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.form-localisation{
    display: flex;
    flex-direction: row;
}
.form-icon-container{
    display: flex;
    width: 50px;
    height: 49px;
    background-color: #F2F2F2;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 15px;
}
.form-input-text{
    padding: 0px 24px ;
    width: 170px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    color: black;
    font-size: 1.1em;
    font-weight: 700;
}
.form-validation-icon{
    background-color: #0065fc;
    height: 49px;
    border-radius: 15px;
    color: white;
    border: none;
    display: none;
}
.form-validation-btn{
    background-color: #0065fc;
    height: 49px;
    width: 132px;
    border-radius: 0 15px 15px 0;
    color: white;
    font-size: 1.1em;
    font-weight: 700;
    border: none;
}
::-webkit-input-placeholder{
    color: black;
    font-size: 1.1em;
    font-weight: 700;
}
::-moz-placeholder{
    color: black;
    font-size: 1.1em;
    font-weight: 700;
}
.filters{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}
.btn-filters{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.filters-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0px 19px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    height: 50px;
    background-color: white;
    font-size: 1.1em;
    font-weight: 700;
}
.filters-item:hover{
    background-color: #DEEBFF;
}
.searching-section-legend{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.container-information-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
}
.main-contain{
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    gap: 40px;
}
.popular-container{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.hosting-container{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}
.card-link{
    color: black;
    text-decoration: none;
}
.card{
    background-color: white;
    border-radius: 20px;
    padding: 5px 5px 15px 5px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.card-image{
    height: 124px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    padding-bottom: 5px;
}
.card-description{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0px 15px;
}
.description-hotel{
    font-size: 0.87em;
}
.empasis{
    font-weight: 600;
}
.fa-blue{
    color: #0065fc;
}
.fa-grey{
    color: #F2F2F2;
}
.popular-card-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.title-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.popular-card-img{
    border-radius: 20px 0px 0px 20px;
    height: 144px;
    width: 100%;
    object-fit: cover;
}
.popular-card{
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.popular-card-description{
    padding: 10px 5px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.see-more-link{
    color: black;
    text-decoration: none;
}
.activities-section{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.activities-cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}
.activities-card{
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}
.activities-image{
    height: 380px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.activities-title{
    padding: 20px 19px;
}
.footer-container{
    margin: 35px 50px 0px 50px;
    background-color: #F2F2F2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.section-footer-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
/*Media Querries*/
@media  screen and (min-width: 1440px){
    body{
        margin: 0px 230px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .main-contain{
        display: flex;
        flex-direction: column;
    }
    .popular-card-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .activities-image{
        height: 200px;
    }
    .activities-title{
        display: flex;
        align-items: center;
        height: 30px;
    }
}
@media screen and (max-width: 768px){
    header{
        flex-direction: column;
        align-items: center;
    }
    nav{
        width: 100%;
    }
    main{
        padding: 0;
    }
    .searching-section{
        padding:  0px 20px;;
    }
    .nav-bar{
        padding: 0px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0px;
        text-align: center;
    }
    .nav-bar-item{
        border-bottom: 2px solid #F2F2F2;
    }
    .nav-bar-item:hover{
        border-bottom: 2px solid #0065fc;
        text-decoration: none;
    }
    .form-localisation{
        width: 100%;
    }
    .form-input-text{
        width: 100%;
    }
    .form-validation-icon{
        display: block;
        padding: 15px 16px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    } 
    .form-validation-btn{
        display: none;
    }
    .form-icon-container{
        padding: 0px 10px;
    }
    .filters{
        flex-direction: column;
    }
    .btn-filters{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .main-contain{
        display: flex;
        flex-direction: column;
    }
    .popular-container{
        order: 1;
        border-radius: 0px;
        padding: 30px 20px;
    }
    .hosting-container{
        order: 2;
        background-color: white;
        padding: 20px;
        gap: 15px;
    }
    .cards-container{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .activities-cards-container{
        display: flex;
        flex-direction: column;
    }
    .activities-image{
        height: 141px;
    }
    .footer-container{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 30px;
        gap: 50px;
    }
    .section-footer-container{
        padding: 0;
    }
}